.places {
  max-width: 984px;
  margin: 92px auto 0;
}

.place {
  display: grid;
  grid-template-columns: 460px 484px;
  column-gap: 40px;
  row-gap: 48px;
  margin-bottom: 80px;
} 


.place__title {
  grid-column: 1;
  grid-row: 1;
  margin: 0;
  width: 460px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
}

.place__artist {
  grid-column: 2;
  grid-row: 1;
  align-self: end;
  margin-bottom: 26px;
  max-width: 456px; 
}

.place__image {
  width: 100%;
  display: block;
}


.place__button {
  background: linear-gradient(90deg, #0278FE 0%, #003A7B 99.98%);
  box-shadow: 5px 5px 10px 0px #00000040;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 356px;
  min-height: 48px;
  padding: 13px 20px;
  gap: 10px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
  color: #ffffff;
  text-decoration: none;
  border-radius: 4px;
  transition: opacity .3s ease;
  margin-top: 48px;

}

.place__button:hover {
  background: linear-gradient(
    90deg,
    #0063d2 0%,
    #002f66 100%
  );
}

.place__content {
  grid-column: 2;
  grid-row: 2;
  align-self: start; 
  max-width: 484px;
}

.place__artist-heading {
  margin: 0 0 10px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #aaaaaa;
}

.place__artist-name {
  margin: 0; 
  font-size: 18px;
  line-height: 1.22;
  color: #ffffff;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
}

.place__paragraph {
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  line-height: 163%;
  margin: 0 0 25px;
  font-weight: 400;
  color: #ffffff;
}

.place__paragraph:last-child {
  margin-bottom: 0; 
}

.place__media {
  grid-column: 1;
  grid-row: 2;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 768px) {

  .places {
    max-width: 720px;
    margin: 88px auto 0;
  }

  .place {
    grid-template-columns: 340px 340px;
    column-gap: 28px;
    row-gap: 48px;
    margin-bottom: 72px;
  }

  .place__title {
    width: 100%;
    font-size: 42px;
    line-height: 46px;
  }

  .place__content {
    max-width: 352px;
  }

  .place__paragraph {
    font-size: 16px;
    line-height: 163%;
  }

  .place__button {
    width: 100%;
    max-width: 355px;
  }
}


@media screen and (max-width: 544px){

  .places {
    width: 100%;
    padding: 0 16px;
    box-sizing: border-box;
  }

  .place {
    grid-template-columns: 1fr;
    row-gap: 30px;
    margin-bottom: 60px;
  }
}
